@font-face {
    font-family: 'BerkshireSwash-Regular';
    src: url("../Fonts/BerkshireSwash-Regular.ttf");
}
.rootPane {
    -fx-background-image: url("../images/SfondoPparquet.png");
    -fx-background-size: stretch;
}

.customTextAlt {
    -fx-font-family: 'BerkshireSwash-Regular';
    -fx-text-fill: #f2e0d6;
}

.spaceLabel {
    -fx-opacity: 1;
    -fx-font-size: 18;
}

.menuBackground {
    -fx-background-image: url("../images/SfondoPparquet.png");
    -fx-background-size: stretch;
    -fx-position: relative;
}

.uniqueNicknameTextField {
    -fx-font-family: 'BerkshireSwash-Regular';
    -fx-text-fill: #451616;
    -fx-font-size: 16;
}

.menuBanner {
    -fx-background-image: url("../images/menuBarShelf-removebg-preview.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
}


.joinButton {
    -fx-font-family: 'BerkshireSwash-Regular';
    -fx-font-size: 16;
    -fx-text-fill: #451616;
    -fx-alignment: top-center;
    -fx-background-image: url("../images/JoinButton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.joinButton:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.returnToMenuButton {
    -fx-font-family: 'BerkshireSwash-Regular';
    -fx-font-size: 16;
    -fx-text-fill: #451616;
    -fx-background-image: url("../images/backToMenuButton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-label-padding: -3px 0 0 0;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}

.returnToMenuButton:hover {
    -fx-effect: dropshadow(gaussian, #f2e0d6, 20, 0.3, 0, 0);
    -fx-font-size: 14;
    -fx-label-padding: 0px 0 0 0;

    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;

    -fx-cursor: hand;
    -fx-opacity: 1;
}